footer .footer-nav a {
    color: hsla(196, 13%, 80%, 1);
    font-weight: bold;
    text-decoration: none;
    margin-right: 4px;
    font-size: 9px;
}

footer .footer-nav a:last-child {
    margin-left: 16px;
}

@media (min-width: 860px) {
    footer .footer-nav a {
        margin-right: 1rem;
        font-size: 1rem;
    }

    footer .footer-nav a:last-child {
        float: right;
    }
}

footer {
    margin-top: auto !important;
}